body{
	background: rgb(174, 174, 221);
	margin: 0;
	min-height: 100vh;
	color: #0b1320; 
}
td, th {
	border: 1px solid;
  }
#planets img {
	width: 140px;
	height: 140px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
table {
  border-collapse: collapse;
}